#content
	width 1000px
	background rgba(0,0,0,.8)
	word-wrap break-word;
	
	#post
		column-count 3
		column-gap .2em
		padding 20px
		h1
			column-span all
			margin-bottom $gap
			text-align: center
			font-size 3em
			line-height: 100%
			
		.post

			padding 0px
			width 100%
			display inline-block
			margin-bottom .2em
			word-wrap break-word
			background rgba(255,255,255,.9)
			border-top none
			box-shadow none // 0px 1px 0 #ddd
			.padding
				padding 20px
			p
				font-size .8em
			.post-content
				padding 20px
				background rgba(255,255,255,.9)