#content
	width 1000px
	background rgba(0,0,0,.8)
	word-wrap break-word;
	
	#post
		column-count 3
		column-gap .2em
		column-rule 20px dotted coral
		padding 20px
		height auto
		h1
			column-span all
			margin-bottom $gap
			text-align: center
			font-size 3em
			line-height: 100%
			
		.post
			transition all .2s
			padding 0px
			width 100%
			display inline-block
			margin-bottom .2em
			word-wrap break-word
			background rgba(255,255,255,.9)
			border-top none
			box-shadow none // 0px 1px 0 #ddd
			.padding
				padding 20px
			p
				font-size .8em
			.post-content
				padding 20px
				background rgba(255,255,255,.9)

	@media only screen and (max-width : 999px)
		width 80%
		#post
			column-count 2
			
	@media only screen and (max-width : 599px)
		width 100%
		#post
			column-count 1