nav
	width 100%
	height $gap
	background #fff
	box-shadow 0 0 10px rgba(0,0,0,.37)
	position fixed
	z-index 100
	top 0px
	padding-top $std
	font-size .6em

.menu-main

	width 640px
	margin 0 auto
	background #ddd
	padding 0px 50px 0 50px
	position fixed
	top 0px
	left 50%
	margin-left -370px
	border-bottom 1px solid rgba(255,255,255,.9)
	ul
		margin 0px
	li 
		line-height inherit
		font-family serif
		width 100px
		display inline-block
		background #ededed
		text-align center
		padding 0px
	lihover
		background #333
		cursor pointer
		a
			color white