.slideshow
	position: fixed
	z-index: -1
	width: 100%
	height: 100%
	ul
		list-style: none
		margin: 0px
		padding: 0px
		height: 100%
		.slidedata
			-webkit-transition: opacity 1.3s
			// display: none
			opacity: 0
			width: 100%
			height: 100%
		li 
			position: fixed
			top: 0px
			left: 0px
			list-style: none
			margin: 0px
			padding: 0px
			
		

			