.box
	color transparent
	position fixed
	bottom 40px
	left 50%
	margin-left -5px

.arrow 
	width 0
	height 0 
	border 10px solid
	border-color transparent 
	border-top-color black

.clear-fix
	clearfix()