@import 'nib'

$gap = 50px
$width = 800px
$std = 20px

@import "base.css"
@import "slides"
@import "fonts"
@import "special"

@import "header"


#content
	width 500px
	word-wrap break-word;
	#post
	
		.post 
			float left
			background rgba(255,255,255,.9)
			padding $gap
			border-top none
			box-shadow none // 0px 1px 0 #ddd
			width 25%


.attachment-feature
	width 100%
	height auto


		

@import "footer"
// @import "mobile.css"
