@import 'nib'

$gap = 50px
$width = 800px
$std = 20px
$bt = 1px solid rgba(255,255,255,.5)
$bb = 1px solid rgba(0,0,0,.1)

@import "base.css"
@import "slides"
@import "fonts"
@import "special"

@import "header"


@import "content-layout-columns"


.attachment-feature
	width 100%
	height auto


		

@import "footer"
// @import "mobile.css"
