@import 'nib'

$gap = 50px
$width = 800px
$std = 20px

@import "base.css"
@import "slides"
@import "fonts"
@import "special"

@import "header"


@import "content-layout-columns"


.attachment-feature
	width 100%
	height auto


		

@import "footer"
// @import "mobile.css"
