@import "base"
@import "slides"

.menu-main
	width: 640px
	margin: 0 auto
	background: #ddd
	ul
		margin: 0px
	li 
		font-family: serif
		font-size: .6em
		width: 100px
		display: inline-block
		background: #ededed
		text-align: center
		padding: 0px
	li:hover
		background: #333
		cursor: pointer
		a
			color: white

.attachment-feature
	width: 100%
	height: auto